<h2>Photos</h2>

<p>
  Here are our latest photos:
</p>

<div class="row photos-row">
  <% @images.each_slice(2) do |images| %>
    <% images.each do |image| %>
      <div class="col-xs-12 col-md-6 text-center bottom10 top10">
        <%= link_to(image_tag(image.photo.thumb.url), image.photo.url) %>
      </div>
    <% end %>
  <% end %>
</div>

